body {
	background: #000000;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	font-family: 'Bungee Spice', cursive;
	text-align: center;
	font-size: 50px;
	color: white;

}

#fundo {
	color: blueviolet;
}

p{
	font-family: 'Passions Conflict', cursiva;
	color: white;

}


li {
	color: white;
font-size: 25px;
}





#foto1{
	width: 30%;
}

#foto2{
	width: 25%;
}